ul#sprint_list {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

i.delete_sprint:hover {
    cursor: pointer;
}

h2 input {
    font-size: 24px;
    height: 24px;
}

.hover_edit {
	border: 1px solid transparent;
	padding: 3px;
	-box-shadow: none;
	-webkit-box-shadow: none;
}

.hover_edit:focus {
	border: 1px solid #FFD8C4;	
}

.hover_edit:hover {
    border:1px solid #ddd !important;
}

div.board_link {
    padding-top: 5px;
    padding-left: 5px;
}

div#burndown_chart {
    height: 250px;
}

input.date_edit {
    width: 75px;
    padding-top: 0px;
    margin-bottom: -3px;
}

span.date_edit_label {
    display: inline-block;
    padding-right: 5px;
}